/*general*/


/*Header*/
.navbar-brand{
    color: #fff;
}

.nav-link{
    color: #fff;
}

/*Formularios*/
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.my-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    background-color: #000000;
    padding: 2%;
}

.my-4 label{
    color: #fff;
}
.form-group{
    width: 10vw;
    margin-bottom: 2em;
}

.form-group input{
    width: 10vw;
}

/*listados*/

.container-listado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;    
}
.container-listado ul{
    width: 40vw;
}
.container-listado ul li a{
    text-decoration: none;
    font-weight: bolder;
}
.list-group-item{
    background-color: #000000;
    color: #fff;
}

.fragil{
    color: rgb(255, 0, 0);
}


/*footer*/
footer{
    background-color: #00000041;
}